<footer>
  <div class="footer-top-section section pt-100 pb-60">
    <div class="container">
      <div class="row">

        <!-- Footer Widget -->
        <div class="footer-widget col-md-4 col-sm-6 col-xs-12 mb-40">
          <h5 class="widget-title">Về chúng tôi</h5>
          <p> Kai Perfume là một cửa hàng bán nước hoa chuyên nghiệp, ở đây chúng tôi cung cấp tất cả các loại nước hoa
            trong nước và ngoài nước, với đội ngũ chuyên nghiệp chúng tôi sẵn sàng phục vụ quý khách 24/7. </p>
        </div>

        <!-- Footer Widget -->
        <div class="footer-widget col-md-3 col-sm-6 col-xs-12 mb-40">
          <h5 class="widget-title">Liên kết</h5>
          <ul>
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/products">Sản phẩm</a></li>
            <li><a href="/news">Tin tức</a></li>
            <li><a href="/about">Giới thiệu</a></li>
          </ul>
        </div>

        <!-- Footer Widget -->
        <div class="footer-widget col-md-2 col-sm-6 col-xs-12 mb-40">
          <h5 class="widget-title">Trang cá nhân</h5>
          <ul>
            <li><a href="#">Tài khoản của tôi</a></li>
            <li><a href="/checkout">Thanh toán</a></li>
            <li><a href="#">Trợ giúp</a></li>
          </ul>
        </div>

        <!-- Footer Widget -->
        <div class="footer-widget col-md-3 col-sm-6 col-xs-12 mb-40">
          <h5 class="widget-title">Theo dõi chúng tôi</h5>
          <div class="footer-social fix">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- FOOTER TOP SECTION END -->

  <!-- FOOTER BOTTOM SECTION START -->
  <div class="footer-bottom-section section">
    <div class="container">
      <div class="row">
        <!-- Copyright -->
        <div class="copyright text-center col-xs-12">
          <p>Copyright &copy; KAI <sup>perfume</sup> 2020</p>
        </div>
        <!-- Payment Method -->
      </div>
    </div>
  </div>
  <!-- FOOTER BOTTOM SECTION END -->


  </div>
  <!-- Body main wrapper end -->


  <!-- Placed JS at the end of the document so the pages load faster -->

  <!-- jQuery latest version -->
  <script src="/javascripts/vendor/jquery-3.1.1.min.js"></script>
  <!-- Bootstrap js -->
  <script src="/javascripts/bootstrap.min.js"></script>
  <!-- Plugins js -->
  <script src="/javascripts/plugins.js"></script>
  <!-- Ajax Mail js -->
  <script src="/javascripts/ajax-mail.js"></script>
  <!-- Main js -->
  <script src="/javascripts/main.js"></script>
  <script>
    $(document).ready(function () {
      loadCart()
      function loadCart() {
        $.ajax({
          type: "GET",
          url: "/carts",
          success: function (res) {

            $(".mini-cart-brief").empty()
            $(".mini-cart-brief").append(res);
            let count =$(".all-cart-product").attr("count-cart");
            console.log("countL ",count)
            $(".count_cart").html(count)
          }
        });
      }
      $(".add-to-cart").click(function (value) {
        const id = $(this).attr("data-id")
        $.ajax({
          type: "GET",
          url: "/cart/add/" + id,
          success: function (res) {
            if (res.success) {
              loadCart();
            }
          }
        });
      });
      $("body").on("click",".cart-delete", function (value) {
        console.log("id dlete: ,")
        const id = $(this).attr("data-id")
        $.ajax({
          type: "GET",
          url: "/cart/delete/" + id,
          success: function (res) {
            if (res.success) {
              loadCart();
            }
          }
        });
      });
    });
  </script>
</footer>
</body>

</html>