<%- include('../layouts/user/header'); -%>
 <!-- PAGE BANNER SECTION -->
<div class="page-banner-abouts section">
  <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <div class="page-banner-content">
                  <h1>Giới thiệu</h1>
                  <ul class="breadcrumb">
                      <li><a href="#">Trang chủ</a></li>
                      <li class="active">Giới thiệU</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>

<%- include('../layouts/user/footer'); -%>