<%- include('../layouts/user/header'); -%>
<!-- PAGE BANNER SECTION -->
<div class="page-banner-news section">
  <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <div class="page-banner-content">
                  <h1>Tin tức</h1>
                  <ul class="breadcrumb">
                      <li><a href="#">Trang chủ</a></li>
                      <li class="active">Tin tức</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- END PAGE BANNER SECTION -->
  
<!-- PAGE SECTION START -->
<div class="page-section section pt-120 pb-45">
<div class="container">
  <div class="row">
          <div class="col-md-8 col-md-offset-2">
              <!-- Blog Item -->
              <div class="blog-item mb-75">
                  <!-- Image -->
                  <a href="blog-details.html" class="image"><img src="img\blog\3.jpeg" alt=""></a>
                  <!-- Content -->
                  <div class="content fix">
                      <!-- Date -->
                      <span class="date">
                          <span class="day">12</span>
                          <span class="month">/ feb</span>
                      </span>
                      <!-- Title -->
                      <h4 class="title"><a href="blog-details.html">If you are going to use a pass.</a></h4>
                      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration some form, by injected humour, or randomised words which don't look even slightly believable. Ifyouare going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden </p>
                  </div>
              </div>
              <!-- Blog Item -->
              <div class="blog-item mb-75">
                  <!-- Image -->
                  <a href="blog-details.html" class="image"><img src="img\blog\4.jpeg" alt=""></a>
                  <!-- Content -->
                  <div class="content fix">
                      <!-- Date -->
                      <span class="date">
                          <span class="day">17</span>
                          <span class="month">/ feb</span>
                      </span>
                      <!-- Title -->
                      <h4 class="title"><a href="blog-details.html">we denounce with righteous indign</a></h4>
                      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration some form, by injected humour, or randomised words which don't look even slightly believable. Ifyouare going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden </p>
                  </div>
              </div>
              <!-- Blog Item -->
              <div class="blog-item mb-75">
                  <!-- Image -->
                  <a href="blog-details.html" class="image"><img src="img\blog\5.jpeg" alt=""></a>
                  <!-- Content -->
                  <div class="content fix">
                      <!-- Date -->
                      <span class="date">
                          <span class="day">22</span>
                          <span class="month">/ feb</span>
                      </span>
                      <!-- Title -->
                      <h4 class="title"><a href="blog-details.html">aut reiciendis voluptatibus maiores.</a></h4>
                      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration some form, by injected humour, or randomised words which don't look even slightly believable. Ifyouare going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden </p>
                  </div>
              </div>
          </div>
  </div>
</div>
</div>
<!-- PAGE SECTION END --> 
<%- include('../layouts/user/footer'); -%>