<div
  id="modal-order-detail"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <div>Chi tiết đặt hàng <strong id="order-code"></strong></div>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <h6>Thông tin người nhận</h6>
            <dl class="row">
              <dt class="col-sm-4">Tên</dt>
              <dd class="col-sm-8" id="receiver-name"></dd>

              <dt class="col-sm-4">Email</dt>
              <dd class="col-sm-8" id="receiver-email"></dd>

              <dt class="col-sm-4">Số điện thoại</dt>
              <dd class="col-sm-8" id="receiver-phone-number"></dd>

              <dt class="col-sm-4">Địa chỉ</dt>
              <dd class="col-sm-8" id="receiver-address"></dd>

              <dt class="col-sm-4">Trạng thái</dt>
              <dd class="col-sm-8" id="order-status"></dd>
            </dl>
          </div>
          <div class="col-md-6">
            <h6>Thông tin đơn hàng</h6>
            <dl class="row">
              <dt class="col-sm-6">Tổng tiền</dt>
              <dd class="col-sm-6 "id="total"></dd>

              <dt class="col-sm-6">Mã giảm giá</dt>
              <dd class="col-sm-6" id="discount-code"></dd>

              <dt class="col-sm-6">Phần trăm giảm giá</dt>
              <dd class="col-sm-6" id="discount-percent"></dd>

              <dt class="col-sm-6">Giảm giá</dt>
              <dd class="col-sm-6" id="discount"></dd>

              <dt class="col-sm-6">Thành tiền</dt>
              <dd class="col-sm-6" id="total-amount"></dd>
            </dl>
          </div>
          <hr />
          <div class="col-12">
            <h6 class="text-center">Chi tiết đơn hàng</h6>
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>
